# Entorno virtual
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de migraciones compiladas
*.log

# VSCode
.vscode/